# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build directories
dist/
build/
out/
.next/

# Coverage directory
coverage/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# npm package files
*.tgz

# Virtual environments
.venv/
venv/

# Cache directories
.npm/
.eslintcache
.cache

# Yarn
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Project specific
vulnzap-landing/ 